h1{
font-size:35px;
color:blue;
text-align:center;

}
h2{
font-size:30px;
color:green;
text-align:center;

}
p{
font-size:20px;
color:violet;
}
textarea{
resize: none;
}

div{
text-align:center;
}
.fattura{
font-size:20px;
color:orange;
}
.pagamento{
font-size:20px;
color:cyan;
}
.genera{
font-size:20px;
color:green;
}